*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body, .App {
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--primary-color);
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.items-center {
    align-items: center;
}