.header h1 {
    color: var(--primary-font-color);
    font-family: var(--primary-font);
}

.menu {
    background-color: #141a31;
    border-radius: 35px;
    padding: 7px;
    gap: 10px;
}

.menu button {
    font-family: var(--primary-font);
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.479);
    padding: 15px 30px;
    border-radius: 25px;
    cursor: pointer; 
    position: relative;   
    z-index: 0;
}

.menu button:hover {
    color: var(--primary-font-color);
}

.menu button::before {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    border-radius: 25px;
    background-color: var(--secondary-color);
    transition: 0.4s ease;
}

.menu button:hover::before,
.active::before {
    width: 100% !important;
}

.active {
    color: var(--primary-color) !important;
    background-color: var(--secondary-color) !important;
}
